﻿
@page "/Articulo/{id:int}"
@using Models
@using Services
@inject IArticuloServices ArticuloService
@inject IConsolaServices ConsolaService

<MudText Typo="Typo.h5" Class="text-center mb-4">Detalles del Artículo</MudText>
<style>
    .Carta {
        width: 100%;
        height: 100%;
        box-shadow: 5px 6px 7px rgb(0, 0, 205);
    }

    .Carta {
        width: 100%;
        height: 100%;
        transition: transform 0.3s;
    }

        .Carta:hover {
            transform: translate(10px, 10px);
        }

</style>

@if (articulo == null)
{
    <p class="text-center"><em>Cargando...</em></p>
}
else
{
    <MudCard Style="width: 100%; margin: 0; padding: 0;" Class="Carta">
        <div style="display: flex;">
            <div style="flex: 1;">
                <MudCardContent>
                    <MudText Typo="Typo.h6" Class="mb-4 text-center">@articulo.Nombre</MudText>
                    <MudText Typo="Typo.body2">
                        @foreach (var consola in consolas)
                        {
                            @if (consola.Id == articulo.IdConsola)
                            {
                                @consola.Nombre
                            }
                        }
                    </MudText>
                </MudCardContent>
            </div>
            <div style="flex: 1;">
                <MudCardActions Class="center">
                    <img src="@articulo.Imagen" alt="@articulo.Nombre" Elevation="25" Class="rounded-lg" width="60%" height="auto" />
                </MudCardActions>
            </div>
        </div>
        <MudCardContent>
            <MudText Typo="Typo.body2">Precio: $@articulo.Precio</MudText>
            <MudText Typo="Typo.body2">Descripción: @articulo.Descripcion</MudText>
        </MudCardContent>
    </MudCard>
}


@code {
    [Parameter]
    public int id { get; set; }

    Articulo articulo = new Articulo();
    IEnumerable<Consola> consolas = new List<Consola>();

    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
            articulo = await ArticuloService.GetById(id);
            
            consolas = await ConsolaService.GetAll();
    }
}