@page "/"

<PageTitle>VideoStore</PageTitle>
<MudContainer Height="100%" Width="100%" >

    <MudContainer Height="30px" Width="100%" style="display: flex; justify-content: space-between; align-items: center; border:none;">
        <MudText Align="Align.Start" style="font-size: 12px; color: gray;">Entrega gratuita a partir de 24,99</MudText>
        <MudText Align="Align.Center" style="font-size: 12px; color: gray;">Recompensas exclusivas </MudText>
        <MudText Align="Align.End" style="font-size: 12px; color: gray;">Entrega gratuita a partir de 24,99</MudText>
    </MudContainer>
    <MudContainer Height="300px" Width="100%" style=" padding: 10px;  border:none;">
        @*Keyframes by https://animate.style/*@
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <style type="text/css">

            .bounceIn {
                opacity: 0;
                animation-delay: 0.5s;
                animation-duration: 0.5s;
                animation-name: bounceIn;
                animation-fill-mode: forwards;
            }

            .bounceOut {
                animation-duration: 0.5s;
                animation-name: bounceOut;
                animation-fill-mode: forwards;
            }
        </style>

        <MudCarousel Class="mud-width-full" Style="height:350px;" TData="object" AutoCycle="true" CycleInterval="3000">
            <MudCarouselItem Color="@Color.Primary" Transition="Transition.Slide">
                <div class="d-flex" style="height:100%">
                    <img width="100%" src="images/wonder.jpg"/>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Color="@Color.Secondary" Transition="Transition.Slide">
                <div class="d-flex" style="height:100%">
                   <img width="100%" src="images/halo.jpg"/>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Color="@Color.Tertiary" Transition="Transition.Slide" CustomTransitionEnter="bounceIn" CustomTransitionExit="bounceOut">
                <div class="d-flex" style="height:100%">
                      <img width="100%" src="images/resident.jpg"/>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="Transition.Slide" CustomTransitionEnter="bounceIn" CustomTransitionExit="bounceOut">
                <div class="d-flex" style="background-color:lightgray; height:100%">
                    <img width="100%" src="images/god.jpg"/>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="Transition.Slide" CustomTransitionEnter="bounceIn" CustomTransitionExit="bounceOut">
                <div class="d-flex" style="background-color:lightgray; height:100%">
                    <img width="100%" src="images/luigi.jpg"/>
                </div>
            </MudCarouselItem>
        </MudCarousel>

    </MudContainer>
    <MudContainer Height="300px" Width="100%" Style="margin-top: 30px; display: flex; justify-content: center; border: none; margin: 10px;">
    <MudButtonGroup Height="100%" Width="100%" Variant="Variant.Filled">
        <MudButton>
            <div style="height: 100%; width: 150px; display: flex; flex-direction: column; align-items: center;">
                <MudIcon Icon="@Icons.Material.Filled.VideogameAsset" Size="Size.Small" style="margin-top: 10px; color: gray;" />
                <span style="font-size: 12px; color: gray; margin-top: 5px;">CONSOLAS</span>
            </div>
        </MudButton>
        <MudButton>
            <div style="height: 100%; width: 150px; display: flex; flex-direction: column; align-items: center;">
                <MudIcon Icon="@Icons.Material.Filled.Games" Size="Size.Small" style="margin-top: 10px; color: gray;" />
                <span style="font-size: 12px; margin-top: 5px; color: gray;">VIDEOJUEGOS</span>
            </div>
        </MudButton>
        <MudButton>
            <div style="height: 100%; width: 150px; display: flex; flex-direction: column; align-items: center;">
                <MudIcon Icon="@Icons.Material.Filled.ShoppingBag" Size="Size.Small" style="margin-top: 10px; color: gray;" />
                <span style="font-size: 12px; margin-top: 5px; color: gray;">ARTICULOS</span>
            </div>
        </MudButton>
        <MudButton>
            <div style="height: 100%; width: 150px; display: flex; flex-direction: column; align-items: center;">
                <MudIcon Icon="@Icons.Material.Filled.CurrencyExchange" Size="Size.Small" style="margin-top: 10px; color: gray;" />
                <span style="font-size: 12px; margin-top: 5px; color: gray;">EXCLUSIVAS</span>
            </div>
        </MudButton>
    </MudButtonGroup>
</MudContainer>
<MudContainer Height="50%" Width="100%" Style="margin-top: 30px; display: flex; justify-content: space-between; border: none; padding: 10px;">
    <MudCard Width="30%" Margin="0 0 10px 0">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Regala Super Mario!</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent style="display: flex; flex-direction: column; align-items: center;">
            <img src="images/mario.jpg" alt="Mario" width="50%" height="40%" />
            <div style="margin-top: 10px; text-align: center;">
                <MudText Typo="Typo.body2">Descubre las aventuras de Mario, el enérgico héroe del reino Champiñón</MudText>
            </div>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Comprar</MudButton>
        </MudCardActions>
    </MudCard>

    <MudCard Width="30%" Margin="0 0 10px 0">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">The Legend of Zelda</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent style="display: flex; flex-direction: column; align-items: center;">
            <img src="images/zelda.jpg" alt="Zelda" width="50%" height="40%" />
            <div style="margin-top: 10px; text-align: center;">
                <MudText Typo="Typo.body2">Crea tu propia aventura en un mundo donde el límite es tu imaginación.</MudText>
            </div>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Comprar</MudButton>
        </MudCardActions>
    </MudCard>

    <MudCard Width="30%">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Mando de Nintendo 64</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent style="display: flex; flex-direction: column; align-items: center;">
            <img src="images/mando.jpg" alt="Nintendo 64" width="50%" height="40%" />
            <div style="margin-top: 10px; text-align: center;">
                <MudText Typo="Typo.body2">Disfruta de los juegos de Nintendo 64 de la forma en que se debe jugar, ¡con un buen mando!</MudText>
            </div>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Comprar</MudButton>
        </MudCardActions>
    </MudCard>
</MudContainer>

<MudContainer Height="300px" Width="100%" Style="margin-top: 100px; display: flex; justify-content: center; border: none; margin: 10px; " BackgroundColor="lightgray">
    
    <MudCard Width="40%" Style="margin-top: 10px; margin:10px">
        <MudCardMedia Image="images/DK.jpg" Height="200" />
        <MudCardContent>
            <MudText Typo="Typo.h5">Mario vs. Donkey Kong™</MudText>
            <MudText Typo="Typo.body2">¡Donkey Kong se ha robado a los Mini Mario!</MudText>
            <MudText Typo="Typo.body2">Resuelve rompecabezas de plataformas para recuperarlos</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Compartir</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Reserva</MudButton>
        </MudCardActions>
    </MudCard>

    <MudCard Width="40%" Style="margin-top: 10px; margin:10px">
        <MudCardMedia Image="images/another.jpg" Height="200" />
        <MudCardContent>
            <MudText Typo="Typo.h5">Another Code Recollection™</MudText>
            <MudText Typo="Typo.body2">Another Code: R - Más allá de la memoria</MudText>
            <MudText Typo="Typo.body2">En esta secuela, que se desarrolla dos años después de los acontecimientos de Another Code: Las dos memorias</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Compartir</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Reserva</MudButton>
        </MudCardActions>
    </MudCard>
</MudContainer>
    <div>
        <MudLink Href="#">
              <img src="images/banner.png" width="100%" heigth="300px"  style="margin: 10px;"  Class="rounded-lg ma-4"/>
        </MudLink>
    </div>
</MudContainer>
